DATABASE_URL="prisma+postgres://localhost:676767/?api_key=42dle"
POSTGRES_USER=admin_user
POSTGRES_PASSWORD=password
POSTGRES_DB=my_db
JWT_SECRET=change_this_secret
FRONTEND_URL=https://localhost:5173
FORTYTWO_CLIENT_ID=<your_42_client_id>
FORTYTWO_CLIENT_SECRET=<your_42_client_secret>
FORTYTWO_CALLBACK_URL=https://localhost:3000/api/auth/42/callback